/* KANIT */
@font-face {
  font-family: Kanit;
  font-weight: 300;
  src: url("./fonts/Kanit-Thin.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 400;
  src: url("./fonts/Kanit-Light.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 500;
  src: url("./fonts/Kanit-Regular.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 600;
  src: url("./fonts/Kanit-SemiBold.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 700;
  src: url("./fonts/Kanit-Bold.ttf");
}
@font-face {
  font-family: Kanit;
  font-weight: 900;
  src: url("./fonts/Kanit-Bold.ttf");
}


h1,
h2,
h3,
h4 {
  @layer font-display;
}

:root {
  --font-display: Poppins;
  --font-body: Poppins;
}