@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.root {
    --fg-color: #37352f;
    --fg-color-0: rgba(55,53,47,.09);
    --fg-color-1: rgba(55,53,47,.16);
    --fg-color-2: rgba(55,53,47,.4);
    --fg-color-3: rgba(55,53,47,.6);
    --fg-color-4: #000;
    --fg-color-5: rgba(55,53,47,.024);
    --fg-color-6: rgba(55,53,47,.8);
    --fg-color-icon: var(--fg-color);
    --bg-color: #fff;
    --bg-color-0: hsla(44,6%,50%,.15);
    --bg-color-1: #f7f6f3;
    --bg-color-2: hsla(44,6%,50%,.15);
    --select-color-0: #2eaadc;
    --select-color-1: rgba(45,170,219,.3);
    --select-color-2: #d9eff8;
    --notion-red: #dc2626;
    --notion-pink: #db2777;
    --notion-blue: #0284c7;
    --notion-purple: #7c3aed;
    --notion-teal: #059669;
    --notion-yellow: #d97706;
    --notion-orange: #ea580c;
    --notion-brown: #b45309;
    --notion-gray: #737373;
    --notion-green: #059669;
    --notion-red_contrast: #b91c1c;
    --notion-pink_contrast: #be185d;
    --notion-blue_contrast: #1d4ed8;
    --notion-purple_contrast: #6d28d9;
    --notion-teal_contrast: #047857;
    --notion-yellow_contrast: #b45309;
    --notion-orange_contrast: #c2410c;
    --notion-brown_contrast: #b45309;
    --notion-gray_contrast: #36393f;
    --notion-green_contrast: #047857;
    --notion-red_background: #fee2e2;
    --notion-pink_background: #fce7f3;
    --notion-blue_background: #dbeafe;
    --notion-purple_background: #ede9fe;
    --notion-teal_background: #d1fae5;
    --notion-yellow_background: #fef3c7;
    --notion-orange_background: #ffedd5;
    --notion-brown_background: #fef3c7;
    --notion-gray_background: #f5f5f5;
    --notion-green_background: #d1fae5;
    --notion-item-blue: rgba(0,120,223,.2);
    --notion-item-orange: rgba(245,93,0,.2);
    --notion-item-green: rgba(0,135,107,.2);
    --notion-item-pink: rgba(221,0,129,.2);
    --notion-item-brown: rgba(140,46,0,.2);
    --notion-item-red: rgba(255,0,26,.2);
    --notion-item-yellow: rgba(233,168,0,.2);
    --notion-item-default: hsla(45,4%,80%,.5);
    --notion-item-purple: rgba(103,36,222,.2);
    --notion-item-gray: hsla(45,2%,60%,.4);
    --notion-max-width: none;
    --notion-header-height: 45px;
}